---
export interface Props 
{
    filename : string,
    language : string
}
let props = Astro.props;

---

<div>
    <code class="snippet">
        <h3>{props.filename}</h3>
        <slot/>
    </code>
</div>

<script>
let codes = document.querySelectorAll("code.snippet > pre");
for(let c = 0 ; c < codes.length ; c++)
{
    let lines = codes[c].querySelectorAll("code > span");
    for(let i = 0 ; i < lines.length; i++)
    {
        let numberstr = (i+1).toString();
        let padding = " "+" ".repeat(Math.min(Math.max(3-numberstr.length,0),2));
        lines[i].setAttribute('style',`--line-number:"${padding}${numberstr}"`);
    }
}
</script>

<style>
    div 
    {
        border-radius: 8px;
        background-color: var(--mainbkg);
    }

    h3 
    {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding:2.5px;
        border: 1px solid var(--mainbkg);
        border-bottom: 2px solid grey;
        background-color: var(--secondbkg);
    }

    code 
    {
        font-size:112.5%;
    }
</style>

<style is:global>
    code.snippet > pre
    {
        border-radius: 8px;
        background-color: var(--mainbkg) !important;
        padding-bottom: 8px;
    }

    code.snippet > pre > code > span::before 
    {
        color: #ccc8;
        content: var(--line-number);
    }
</style>