---
export interface Props {
    title:string
}
const {title, ...rest} = Astro.props;
---

<div {...rest} class:list={["outer"]} title={title}>
    <details>
        <summary>{title}</summary>
        <div class:list={["inner"]}>
            <slot/>
        </div>
    </details>
</div>

<style lang="scss">
    .outer
    {
        width: calc(100% + 1.5rem);
    }



    summary, summary::after
    {
        line-height: 2.2rem;
        font-size: 2rem;
        font-weight: 600;
        border-radius: 2.5px;
        position:relative;
        right:.75rem;
    }

    summary {
        background-color: #2228;
        padding: .75rem;
        list-style-type: none;
        cursor: pointer;
        transition: var(--pico-transition);
    }

    details summary::after 
    {
        display: block;
        float: right;
        transform: translate(-.1rem, -.1rem);
        font-weight: 300;
        font-size: 2.2rem;
        content: "⏵";
        transition: transform var(--pico-transition);
    }

    details[open] > summary::after 
    {
	    transform: translate(-.1rem, -.1rem) rotate(90deg);
    }
</style>