---
export interface Props {
	title: string;
}
import { ClientRouter } from "astro:transitions";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		 <!-- <ClientRouter  fallback="none"/> -->
		 <script>import flamethrower from 'flamethrower-router';
			flamethrower({ prefetch: 'visible', log: true, pageTransitions: false });
		 </script>
		 <!-- <script src="https://cdn.jsdelivr.net/npm/glslEditor@0.0.24/build/glslEditor.min.js"></script>
		 <link href="https://cdn.jsdelivr.net/npm/glslEditor@0.0.24/build/glslEditor.min.css" rel="stylesheet"> -->
		 
	</head>
	<body transition:animate='none'>
		<slot />
		<footer></footer>
	</body>
</html>

<style lang="scss" is:global>
	//i only want 1 real breakpoint.
	$mobile-breakpoint: 576px;


	@use "flexboxgrid-sass/flexboxgrid" ;

	//holy shit finally found the proper way. 
	@use "@picocss/pico/scss/pico" with 
	(
		$theme-color: "violet", 
		$parent-selector:".pico",
		$breakpoints: (
			sm: (root-font-size: 85%, viewport: 95%),
			md: (root-font-size: 90%, viewport: 90%),
			lg: (root-font-size: 95%, viewport : 80%),
			xl: (root-font-size: 100%, viewport: 75%),
			xxl: (root-font-size: 105%, viewport : 66%)
  		),
		$modules: (
			"themes/default": true,
			// Layout
			"layout/document": true,
			"layout/landmarks":false,
			"layout/container":true,
			"layout/section": false,
			"layout/grid": false,
			"layout/overflow-auto": true,

			// Content
			"content/link": true,
			"content/typography": true,
			"content/embedded": true,
			"content/button": true,
			"content/table": true,
			"content/code": true,
			"content/figure": true,
			"content/misc": true,

			// Forms
			"forms/basics": true,
			"forms/checkbox-radio-switch": true,
			"forms/input-color": false,
			"forms/input-date": false,
			"forms/input-file": false,
			"forms/input-range": false,
			"forms/input-search": true,

			//components
			"components/accordion": false,
			"components/card": false,
			"components/dropdown": false,
			"components/loading": false,
			"components/modal": true,
			"components/nav": false,
			"components/progress": false,
			"components/tooltip": false,

			//utilities
			"utilities/accessibility": false,
			"utilities/reduce-motion": false
		));
	

	canvas
	{
		width:100%;
		max-height:100% !important;
	}

	:root
	{
		--mainbkg :  #222;
		--secondbkg : #000;
		--headertxt : #fff;
		--maintext : #ccc;
		--secondtext : #aaa;
		--numcols : 3;
		--psize : 1.25em;
		--article-max-width: 1000px;
		color : var(--maintext);
	}

	/*pico overrides*/
	html 
	{
		/* --pico-font-size: 100% !important; */
		/* --pico-text-selection-color: #00000000 !important; */
		--pico-card-background-color: #00000000 !important;
		--pico-card-sectioning-background-color: #00000000 !important;
		--pico-background-color: #111 !important;
		--pico-form-element-background-color: #111 !important;
		--pico-h1-color: unset !important;
		/* --pico-primary: #00000000 !important; */
		/* --pico-primary-background: #00000000 !important; */
		/* --pico-primary-underline: #00000000 !important;
		--pico-primary-hover: #00000000 !important;
		--pico-primary-hover-background: #00000000 !important;
		--pico-primary-focus: #00000000 !important; */
		/* --pico-primary-inverse: #ffffffff !important; */
	}

	.centered
	{
		margin-left: auto;
		margin-right: auto;
		display:block;
	}


	html 
	{
		background : radial-gradient(farthest-side circle at top, var(--mainbkg), var(--secondbkg));
		min-height: 100vh;
		font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
	}

	body{
		margin: 0px,
	}

</style>
