---
import HomeLayout from '../layouts/HomeLayout.astro';
import { getCollection, getEntries, getEntry } from 'astro:content';
// import ArticlePreview from '../components/ArticlePreview.astro';
import RedditStylePreview from '../components/RedditStylePreview.astro';
const posts = await getCollection('blog');
---

<HomeLayout title="Home">
	<a href="/about" slot='link2'>About</a>
	<a href="/contact" slot='link3'>Contact</a>
	<main>
		<div class="blogtitle">
			<h1>Blog</h1>
			<p>Personal Website of Daniel Gutierrez</p>
		</div>
		{ 
			posts.filter(post => !post.data.draft)
				 .sort( (a,b) => 
				 	{return Date.parse(b.data.published) - Date.parse(a.data.published)} )
				 .map( post => 
			<RedditStylePreview 
				title={post.data.title} 
				description={post.data.description}
				preview={post.data.preview}
				url={ '/posts/' + post.id}
				date={post.data.published}>
			</RedditStylePreview>)
		}
	</main>
</HomeLayout>

<style>

.blogtitle
{
	border-bottom: 1px solid grey;
	margin : 100px auto 25px auto;
}

.blogtitle>h1
{
	text-align: center;
	color: #fff;
	font-size: 2.5em;
}

.blogtitle>p
{
	text-align: center;
	font-size: 1.25em;
	color:#ccc;
}

</style>
